// ================= SLIDE Kupriyanova =================
.fame-slide
  .fame-card
    .fame-photo-wrap
      img.fame-arr(src=require("../img/fame-arr.png"))
      .fame-desc Отзыв взят из инстаграма!
      a.fame-insta(href="https://www.instagram.com/p/BicSvfHDSTU/?utm_source=ig_share_sheet&igshid=3quzqfemji2f" target="_blank")
        include instagram
      .fame-photo-back
        .fame-img(style="background-image: url(" + require("../img/kupriyanova_new.jpg") + ")")
    .fame-name Марианна Куприянова
    .fame-place <span>1 место</span> / 9 сезон
  .fame-info
    .fame-info-title "Я мечтала быть в финале честно и я всё для этого делала!
    .fame-info-notice Я правда старалась! такого в моей жизни ещё не было!!!! Девчонки именно здесь я узнала, что такое работа над собой!!! .... И вот у меня подтянутое, стройное тело!!!! А правильное питание теперь мой образ жизни!!! Много идей и целей!!! С вами я изменилась в лучшую строну, а затем и все вокруг и когда девушка называет факторы - маленький ребёнок, один или много и работа нет времени и тд. Это отговорки!!!! Быстро в Прокач!!! можно все если захотеть!!! Простая истина;) но иногда так сложно к ней прийти..."
    .button.point(data-toggle="modal" data-target="#kupriyanovaResults") Смотреть до/после
// ===========================================
// ================= SLIDE Bazyk =================
.fame-slide
  .fame-card
    .fame-photo-wrap
      img.fame-arr(src=require("../img/fame-arr.png"))
      .fame-desc Отзыв взят из инстаграма!
      a.fame-insta(href="https://www.instagram.com/p/BiMmTTNDXYk/?utm_source=ig_share_sheet&igshid=zwqaq8pn5b5e" target="_blank")
        include instagram
      .fame-photo-back
        .fame-img(style="background-image: url(" + require("../img/fame-bazyk.jpg") + ")")
    .fame-name Анна Базюк
    .fame-place <span>1 место</span> / 9 сезон (2мес)
  .fame-info
    .fame-info-title "Вы представляете!?! Я ПОБЕДИТЕЛЬ!!! Победитель такого крутого проекта PROкачSHOW!!!
    .fame-info-notice Кто бы мог подумать....что я, 77ми килограммовая тётя, смогу добиться такого результата. Я, конечно, мечтала о призовом месте, но чтобы первое!? Так что, девочки, верьте! Верьте в себя! Побеждайте себя каждый день! (мой девиз!) И победа не заставит себя ждать!"
    .button.point(data-toggle="modal" data-target="#bazykResults") Смотреть до/после
// ===========================================
// ================= SLIDE Garanina =================
.fame-slide
  .fame-card
    .fame-photo-wrap
      img.fame-arr(src=require("../img/fame-arr.png"))
      .fame-desc Отзыв взят из инстаграма!
      a.fame-insta(href="https://www.instagram.com/p/BiSCKrCjpyc/?utm_source=ig_share_sheet&igshid=1qgamip6rklxn" target="_blank")
        include instagram
      .fame-photo-back
        .fame-img(style="background-image: url(" + require("../img/fame-garanina.jpg") + ")")
    .fame-name Лиза Гаранина
    .fame-place <span>2 место</span> / 9 сезон
  .fame-info
    .fame-info-title "Уверенно говорю - сильнее мотивации и поддержки, чем в этом проекте - НЕТ.
    .fame-info-notice Я соскучилась по атмосфере чата, по поддержке, по уюту. Это вторая семья Внутри столько понимания, мотивации и.. любви .. новые знакомства с новыми девочками, с такими разными, но такими настоящими. Каждую поддержат, дадут совет, направят на правильный путь. Счастье. Это счастье.... У меня так много слов, так много эмоций.. не могу всё собрать в кучу))). БЛАГОДАРЮ за такой проект, за новую меня. За новую и лучшую версию меня не только внутренне, но и внешне, ведь я победитель первого месяца 9 сезона и выиграла операцию или белоснежные виниры."
    .button.point(data-toggle="modal" data-target="#garaninaResults") Смотреть до/после
// ===========================================
// ================= SLIDE Vinogradova =================
.fame-slide
  .fame-card
    .fame-photo-wrap
      img.fame-arr(src=require("../img/fame-arr.png"))
      .fame-desc Отзыв взят из инстаграма!
      a.fame-insta(href="https://www.instagram.com/p/BiPbZRMDJ0T/?utm_source=ig_share_sheet&igshid=gkem75jdzgge" target="_blank")
        include instagram
      .fame-photo-back
        .fame-img(style="background-image: url(" + require("../img/fame-vinogradova.jpg") + ")")
    .fame-name Вика Виноградова
    .fame-place <span>3 место</span> / 9 сезон
  .fame-info
    .fame-info-title "Я финалист 9 сезона самого крутого на мой взгляд проекта Преображения ProкачShow.
    .fame-info-notice Глядя на фото &laquo;новой себя&raquo; понимаю, что каждая из нас может стать той, какой всегда хотела быть.. главное найти человека, который даст &laquo;волшебного пендаля&raquo; - мне мой пендаль выписала Даша, за что я ей чрезмерно благодарна. Теперь только вперёд, будем работать дальше над собой и кайфовать от тех изменений, которые ждут впереди!"
    .button.point(data-toggle="modal" data-target="#vinogradovaResults") Смотреть до/после
// ===========================================
// ================= SLIDE Belozertceva =================
.fame-slide
  .fame-card
    .fame-photo-wrap
      img.fame-arr(src=require("../img/fame-arr.png"))
      .fame-desc Отзыв взят из инстаграма!
      a.fame-insta(href="https://www.instagram.com/p/Bh_8_NWDHoM/" target="_blank")
        include instagram
      .fame-photo-back
        .fame-img(style="background-image: url(" + require("../img/belozertceva.jpg") + ")")
    .fame-name Мария Белозерцева
    .fame-place <span>4 место</span> / 9 сезон
  .fame-info
    .fame-info-title "Я самая счастливая - 33кг!
    .fame-info-notice Как же я счастлива что попала в проект, ведь это благодаря ему&#8194;
      | со мной произошли такие изменения! Я изменилась и моя жизнь стала ярче!&#8194;
      | Девочки спасибо Вам за вашу поддержку, за ваше внимание и спасибо вам за PROkaчSHOW!&#8194;
    .button.point(data-toggle="modal" data-target="#belozertcevaResults") Смотреть до/после
// ===========================================
// ================= SLIDE Kachugina =================
.fame-slide
  .fame-card
    .fame-photo-wrap
      img.fame-arr(src=require("../img/fame-arr.png"))
      .fame-desc Отзыв взят из инстаграма!
      a.fame-insta(href="https://www.instagram.com/p/Bd0DxX_DjP6/?utm_source=ig_share_sheet&igshid=rd03jkae992p" target="_blank")
        include instagram
      .fame-photo-back
        .fame-img(style="background-image: url(" + require("../img/fame-kachugina.jpg") + ")")
    .fame-name Елизавета Качугина
    .fame-place <span>1 место</span> / 8 сезон
  .fame-info
    .fame-info-title "Теперь то я точно знаю, что надо просто поработать
    .fame-info-notice Проект подарил мне новую меня, новые мысли и взгляд на жизнь и на окружающих, дал возможность посмотреть на себя со стороны и получить хороший стартовый пинок ))) я очень благодарна создателям и участникам проекта, за то что ни один человек не оставался равнодушным к другому!"
    .button.point(data-toggle="modal" data-target="#kachuginaResults") Смотреть до/после
// ===========================================
// ================= SLIDE Tamm =================
.fame-slide
  .fame-card
    .fame-photo-wrap
      img.fame-arr(src=require("../img/fame-arr.png"))
      .fame-desc Отзыв взят из инстаграма!
      a.fame-insta(href="https://www.instagram.com/p/BdxtFyHjvB-/?utm_source=ig_share_sheet&igshid=1sp1fenrnkjab" target="_blank")
        include instagram
      .fame-photo-back
        .fame-img(style="background-image: url(" + require("../img/fame-tamm.jpg") + ")")
    .fame-name Виктория Тамм
    .fame-place <span>3 место</span> / 8 сезон
  .fame-info
    .fame-info-title "Этот сезон выпадал на праздники. И как раз это и было хорошим тестом на силу воли.
    .fame-info-notice Боялась, что будет сложно, но мне удалось. Показатели на выносливость тоже меня порадовали. И ведь действительно, все в вашей голове. Ты понимаешь, что и зачем тебе нужно. И та позитивная атмосфера в общем чате ну она крутааааая и позитивная стимул и волшебный пинок от Дашки ни с чем не сравним."
    .button.point(data-toggle="modal" data-target="#tammResults") Смотреть до/после
// ===========================================
// ================= SLIDE Ladenko =================
.fame-slide
  .fame-card
    .fame-photo-wrap
      img.fame-arr(src=require("../img/fame-arr.png"))
      .fame-desc Отзыв взят из инстаграма!
      a.fame-insta(href="https://www.instagram.com/p/BcAOCQFjBS6/?utm_source=ig_share_sheet&igshid=1gp64hfekgqpd" target="_blank")
        include instagram
      .fame-photo-back
        .fame-img(style="background-image: url(" + require("../img/fame-ladenko.jpg") + ")")
    .fame-name Вероника Ладенко
    .fame-place <span>1 место</span> / 7 сезон
  .fame-info
    .fame-info-title "Я часто смотрела аккаунты где обещали, что вы станете стройной и красивой, но мне не верилось
    .fame-info-notice Я не прогадала, здесь я обрела не только огромное количество полезных знаний, я обрела близких по духу людей, правильные привычки, своё новое тело без БАДА и чудо таблеток, только спорт и питание, моя картина мира изменилась, мне очень откликается позиция Даши, её подход и человеческие качества. Большое спасибо всей команде PROкачSHOW и каждому в отдельности"
    .button.point(data-toggle="modal" data-target="#ladenkoResults") Смотреть до/после
// ===========================================
// ================= SLIDE Gorodilova =================
.fame-slide
  .fame-card
    .fame-photo-wrap
      img.fame-arr(src=require("../img/fame-arr.png"))
      .fame-desc Отзыв взят из инстаграма!
      a.fame-insta(href="https://www.instagram.com/p/BZqKrhzDJ_U/?utm_source=ig_share_sheet&igshid=1cnmvdirdjx5a" target="_blank")
        include instagram
      .fame-photo-back
        .fame-img(style="background-image: url(" + require("../img/fame-gorodilova.jpg") + ")")
    .fame-name Городилова Наташа
    .fame-place <span>1 место</span> / 6 сезон
  .fame-info
    .fame-info-title "Этот проект изменил мою жизнь на до и после!
    .fame-info-notice Наконец-то я ожила, расцвела! Моя жизнь стала намного ярче, красочней, эмоциональней. Теперь я не живу по принципу сурков. Мне хочется творить, двигаться дальше к своим целям. И все это благодаря, Дашенька, тебе, и твоей замечательной команде! Девчонки вы супер!"
    .button.point(data-toggle="modal" data-target="#gorodilovaResults") Смотреть до/после
// ===========================================
// ================= SLIDE Klimova =================
.fame-slide
  .fame-card
    .fame-photo-wrap
      img.fame-arr(src=require("../img/fame-arr.png"))
      .fame-desc Отзыв взят из инстаграма!
      a.fame-insta(href="https://www.instagram.com/p/BXK620vjda9/?utm_source=ig_share_sheet&igshid=1dcyppdid1any" target="_blank")
        include instagram
      .fame-photo-back
        .fame-img(style="background-image: url(" + require("../img/fame-klimova.jpg") + ")")
    .fame-name Елена Климова
    .fame-place <span>1 место</span> / 5 сезон
  .fame-info
    .fame-info-title "Пятый сезон прошел на одном дыхании.
    .fame-info-notice Этап,который пойдет на пользу любой женщине. Для себя я расставила последние точки над i. Знаю, как сбросить вес, какие продукты при этом употреблять. Какие из них держат воду, от каких у нас отеки. Чем розовая соль полезнее обычной и чем можно заменить сахар. Я не знала займу ли призовое место, но, определенно, я прошла этот путь не зря."
    .button.point(data-toggle="modal" data-target="#klimovaResults") Смотреть до/после
// ===========================================
// ================= SLIDE Velikaya =================
.fame-slide
  .fame-card
    .fame-photo-wrap
      img.fame-arr(src=require("../img/fame-arr.png"))
      .fame-desc Отзыв взят из инстаграма!
      a.fame-insta(href="https://www.instagram.com/p/Bh_8_NWDHoM/" target="_blank")
        include instagram
      .fame-photo-back
        .fame-img(style="background-image: url(" + require("../img/fame1.jpg") + ")")
    .fame-name Ксения Великая
    .fame-place <span>1 место</span> / 2 сезон
  .fame-info
    .fame-info-title "Я безумно благодарна судьбе,<br/>что в моей жизни появился проект!
    .fame-info-notice Он изменил мою жизнь, мое тело, мое мышление, мое мировоззрение! Я попала в семью,
      | где очень теплая атмосфера и Мощная мотивация. @dasha-pirozhkova и @sashakabaeva_official , спасибо,
      | что Вы есть, создатели единственной в своём роде Школы перемен для женщин"
    .button.point(data-toggle="modal" data-target="#velikayaResults") Смотреть до/после
// ===========================================