.modal.fade(id="velikayaResults" tabindex="-1" role="dialog" aria-labelledby="velikayaResultsLabel" aria-hidden="true")
  .modal-dialog.custom-width.modal-dialog-centered(role="document")
    .modal-content
      .mod-head
        .close-but(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h3.text-center Ксения Великая
        .block-head-divider
      .mod-body
        .modal-slider
          div(id="carouselVelikaya" class="carousel slide" data-ride="carousel" data-interval="false")
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src=require("../img/results/velikaya1.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/velikaya2.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/velikaya3.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/velikaya4.jpg") alt="")
          a.carousel-control-prev(href="#carouselVelikaya" role="button" data-slide="prev")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z")
            span.sr-only Previous
          a.carousel-control-next(href="#carouselVelikaya" role="button" data-slide="next")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z")
            span.sr-only Next
      .modal-wave
        svg(x="0px" y="0px" viewBox="0 0 743 187")
          path(d="M-506.1,19.8c0,0,78.6-25.9,256-1c177.3,24.9,253.9,3.6,322.1-2  c68.1-5.6,161.2-3,257,17c95.8,20,210.8,30.3,323.1-13c112.3-43.3,178.8-8.8,253.8,11c75,19.8,82.9,19.6,98.1,18  c15.2-1.6,87.5,156.1,87.5,156.1s-1695.1-11.3-1682.9-21C-579.2,175.3-506.1,19.8-506.1,19.8z")
        .modal-wave-result - 10.4 килограмма
// ==================================================
// ==================================================
.modal.fade(id="belozertcevaResults" tabindex="-1" role="dialog" aria-labelledby="belozertcevaResultsLabel" aria-hidden="true")
  .modal-dialog.custom-width.modal-dialog-centered(role="document")
    .modal-content
      .mod-head
        .close-but(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h3.text-center Мария Белозерцева
        .block-head-divider
      .mod-body
        .modal-slider
          div(id="carouselBelozertceva" class="carousel slide" data-ride="carousel" data-interval="false")
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src=require("../img/results/belozertceva1.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/belozertceva2.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/belozertceva3.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/belozertceva4.jpg") alt="")
          a.carousel-control-prev(href="#carouselBelozertceva" role="button" data-slide="prev")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z")
            span.sr-only Previous
          a.carousel-control-next(href="#carouselBelozertceva" role="button" data-slide="next")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z")
            span.sr-only Next
      .modal-wave
        svg(x="0px" y="0px" viewBox="0 0 743 187")
          path(d="M-506.1,19.8c0,0,78.6-25.9,256-1c177.3,24.9,253.9,3.6,322.1-2  c68.1-5.6,161.2-3,257,17c95.8,20,210.8,30.3,323.1-13c112.3-43.3,178.8-8.8,253.8,11c75,19.8,82.9,19.6,98.1,18  c15.2-1.6,87.5,156.1,87.5,156.1s-1695.1-11.3-1682.9-21C-579.2,175.3-506.1,19.8-506.1,19.8z")
        .modal-wave-result - 33 килограмма
// ==================================================
// ==================================================
.modal.fade(id="kupriyanovaResults" tabindex="-1" role="dialog" aria-labelledby="kupriyanovaResultsLabel" aria-hidden="true")
  .modal-dialog.custom-width.modal-dialog-centered(role="document")
    .modal-content
      .mod-head
        .close-but(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h3.text-center Марианна Куприянова
        .block-head-divider
      .mod-body
        .modal-slider
          img.fame-alone(src=require("../img/results/kupriyanova.jpg") alt="" style="max-width: 500px;")
          //div(id="carouselKupriyanova" class="carousel slide" data-ride="carousel" data-interval="false")
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src=require("../img/results/kupriyanova1.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/kupriyanova2.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/kupriyanova3.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/kupriyanova4.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/kupriyanova5.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/kupriyanova6.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/kupriyanova7.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/kupriyanova8.jpg") alt="")
          //a.carousel-control-prev(href="#carouselKupriyanova" role="button" data-slide="prev")
          //  svg.slider-arr(viewBox="0 0 129 129")
          //    g
          //      path(d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z")
          //  span.sr-only Previous
          //a.carousel-control-next(href="#carouselKupriyanova" role="button" data-slide="next")
          //  svg.slider-arr(viewBox="0 0 129 129")
          //    g
          //      path(d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z")
          //  span.sr-only Next
      .modal-wave
        svg(x="0px" y="0px" viewBox="0 0 743 187")
          path(d="M-506.1,19.8c0,0,78.6-25.9,256-1c177.3,24.9,253.9,3.6,322.1-2  c68.1-5.6,161.2-3,257,17c95.8,20,210.8,30.3,323.1-13c112.3-43.3,178.8-8.8,253.8,11c75,19.8,82.9,19.6,98.1,18  c15.2-1.6,87.5,156.1,87.5,156.1s-1695.1-11.3-1682.9-21C-579.2,175.3-506.1,19.8-506.1,19.8z")
        .modal-wave-result - 8 килограмм
// ==================================================
// ==================================================
.modal.fade(id="garaninaResults" tabindex="-1" role="dialog" aria-labelledby="garaninaResultsLabel" aria-hidden="true")
  .modal-dialog.custom-width.modal-dialog-centered(role="document")
    .modal-content
      .mod-head
        .close-but(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h3.text-center Лиза Гаранина
        .block-head-divider
      .mod-body
        .modal-slider
          img.fame-alone(src=require("../img/results/garanina.jpg") alt="" style="max-width: 500px;")
      .modal-wave
        svg(x="0px" y="0px" viewBox="0 0 743 187")
          path(d="M-506.1,19.8c0,0,78.6-25.9,256-1c177.3,24.9,253.9,3.6,322.1-2  c68.1-5.6,161.2-3,257,17c95.8,20,210.8,30.3,323.1-13c112.3-43.3,178.8-8.8,253.8,11c75,19.8,82.9,19.6,98.1,18  c15.2-1.6,87.5,156.1,87.5,156.1s-1695.1-11.3-1682.9-21C-579.2,175.3-506.1,19.8-506.1,19.8z")
        .modal-wave-result - 8 килограмм
// ==================================================
// ==================================================
.modal.fade(id="vinogradovaResults" tabindex="-1" role="dialog" aria-labelledby="vinogradovaResultsLabel" aria-hidden="true")
  .modal-dialog.custom-width.modal-dialog-centered(role="document")
    .modal-content
      .mod-head
        .close-but(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h3.text-center Вика Виноградова
        .block-head-divider
      .mod-body
        .modal-slider
          img.fame-alone(src=require("../img/results/vinogradova.jpg") alt="" style="max-width: 500px;")
      .modal-wave
        svg(x="0px" y="0px" viewBox="0 0 743 187")
          path(d="M-506.1,19.8c0,0,78.6-25.9,256-1c177.3,24.9,253.9,3.6,322.1-2  c68.1-5.6,161.2-3,257,17c95.8,20,210.8,30.3,323.1-13c112.3-43.3,178.8-8.8,253.8,11c75,19.8,82.9,19.6,98.1,18  c15.2-1.6,87.5,156.1,87.5,156.1s-1695.1-11.3-1682.9-21C-579.2,175.3-506.1,19.8-506.1,19.8z")
        .modal-wave-result - 6,5 килограмм
// ==================================================
// ==================================================
.modal.fade(id="kachuginaResults" tabindex="-1" role="dialog" aria-labelledby="kachuginaResultsLabel" aria-hidden="true")
  .modal-dialog.custom-width.modal-dialog-centered(role="document")
    .modal-content
      .mod-head
        .close-but(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h3.text-center Елизавета Качугина
        .block-head-divider
      .mod-body
        .modal-slider
          div(id="carouselKachugina" class="carousel slide" data-ride="carousel" data-interval="false")
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src=require("../img/results/kachugina1.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/kachugina2.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/kachugina3.jpg") alt="")
          a.carousel-control-prev(href="#carouselKachugina" role="button" data-slide="prev")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z")
            span.sr-only Previous
          a.carousel-control-next(href="#carouselKachugina" role="button" data-slide="next")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z")
            span.sr-only Next
      .modal-wave
        svg(x="0px" y="0px" viewBox="0 0 743 187")
          path(d="M-506.1,19.8c0,0,78.6-25.9,256-1c177.3,24.9,253.9,3.6,322.1-2  c68.1-5.6,161.2-3,257,17c95.8,20,210.8,30.3,323.1-13c112.3-43.3,178.8-8.8,253.8,11c75,19.8,82.9,19.6,98.1,18  c15.2-1.6,87.5,156.1,87.5,156.1s-1695.1-11.3-1682.9-21C-579.2,175.3-506.1,19.8-506.1,19.8z")
        .modal-wave-result - 5,4 килограмм
// ==================================================
// ==================================================
.modal.fade(id="bazykResults" tabindex="-1" role="dialog" aria-labelledby="bazykResultsLabel" aria-hidden="true")
  .modal-dialog.custom-width.modal-dialog-centered(role="document")
    .modal-content
      .mod-head
        .close-but(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h3.text-center Анна Базюк
        .block-head-divider
      .mod-body
        .modal-slider
          div(id="carouselBazyk" class="carousel slide" data-ride="carousel" data-interval="false")
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src=require("../img/results/bazyk1.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/bazyk2.jpg") alt="")
          a.carousel-control-prev(href="#carouselBazyk" role="button" data-slide="prev")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z")
            span.sr-only Previous
          a.carousel-control-next(href="#carouselBazyk" role="button" data-slide="next")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z")
            span.sr-only Next
      .modal-wave
        svg(x="0px" y="0px" viewBox="0 0 743 187")
          path(d="M-506.1,19.8c0,0,78.6-25.9,256-1c177.3,24.9,253.9,3.6,322.1-2  c68.1-5.6,161.2-3,257,17c95.8,20,210.8,30.3,323.1-13c112.3-43.3,178.8-8.8,253.8,11c75,19.8,82.9,19.6,98.1,18  c15.2-1.6,87.5,156.1,87.5,156.1s-1695.1-11.3-1682.9-21C-579.2,175.3-506.1,19.8-506.1,19.8z")
        .modal-wave-result - 7,4 килограмм
// ==================================================
// ==================================================
.modal.fade(id="tammResults" tabindex="-1" role="dialog" aria-labelledby="tammResultsLabel" aria-hidden="true")
  .modal-dialog.custom-width.modal-dialog-centered(role="document")
    .modal-content
      .mod-head
        .close-but(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h3.text-center Виктория Тамм
        .block-head-divider
      .mod-body
        .modal-slider
          div(id="carouselTamm" class="carousel slide" data-ride="carousel" data-interval="false")
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src=require("../img/results/tamm1.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/tamm2.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/tamm3.jpg") alt="")
          a.carousel-control-prev(href="#carouselTamm" role="button" data-slide="prev")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z")
            span.sr-only Previous
          a.carousel-control-next(href="#carouselTamm" role="button" data-slide="next")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z")
            span.sr-only Next
      .modal-wave
        svg(x="0px" y="0px" viewBox="0 0 743 187")
          path(d="M-506.1,19.8c0,0,78.6-25.9,256-1c177.3,24.9,253.9,3.6,322.1-2  c68.1-5.6,161.2-3,257,17c95.8,20,210.8,30.3,323.1-13c112.3-43.3,178.8-8.8,253.8,11c75,19.8,82.9,19.6,98.1,18  c15.2-1.6,87.5,156.1,87.5,156.1s-1695.1-11.3-1682.9-21C-579.2,175.3-506.1,19.8-506.1,19.8z")
        .modal-wave-result - 5 килограмм
// ==================================================
// ==================================================
.modal.fade(id="ladenkoResults" tabindex="-1" role="dialog" aria-labelledby="ladenkoResultsLabel" aria-hidden="true")
  .modal-dialog.custom-width.modal-dialog-centered(role="document")
    .modal-content
      .mod-head
        .close-but(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h3.text-center Вероника Ладенко
        .block-head-divider
      .mod-body
        .modal-slider
          div(id="carouselLadenko" class="carousel slide" data-ride="carousel" data-interval="false")
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src=require("../img/results/ladenko1.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/ladenko2.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/ladenko3.jpg") alt="")
          a.carousel-control-prev(href="#carouselLadenko" role="button" data-slide="prev")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z")
            span.sr-only Previous
          a.carousel-control-next(href="#carouselLadenko" role="button" data-slide="next")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z")
            span.sr-only Next
      .modal-wave
        svg(x="0px" y="0px" viewBox="0 0 743 187")
          path(d="M-506.1,19.8c0,0,78.6-25.9,256-1c177.3,24.9,253.9,3.6,322.1-2  c68.1-5.6,161.2-3,257,17c95.8,20,210.8,30.3,323.1-13c112.3-43.3,178.8-8.8,253.8,11c75,19.8,82.9,19.6,98.1,18  c15.2-1.6,87.5,156.1,87.5,156.1s-1695.1-11.3-1682.9-21C-579.2,175.3-506.1,19.8-506.1,19.8z")
        .modal-wave-result - 3,3 килограмм
// ==================================================
// ==================================================
.modal.fade(id="gorodilovaResults" tabindex="-1" role="dialog" aria-labelledby="gorodilovaResultsLabel" aria-hidden="true")
  .modal-dialog.custom-width.modal-dialog-centered(role="document")
    .modal-content
      .mod-head
        .close-but(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h3.text-center Городилова Наташа
        .block-head-divider
      .mod-body
        .modal-slider
          div(id="carouselGorodilova" class="carousel slide" data-ride="carousel" data-interval="false")
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src=require("../img/results/gorodilova1.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/gorodilova2.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/gorodilova3.jpg") alt="")
          a.carousel-control-prev(href="#carouselGorodilova" role="button" data-slide="prev")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z")
            span.sr-only Previous
          a.carousel-control-next(href="#carouselGorodilova" role="button" data-slide="next")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z")
            span.sr-only Next
      .modal-wave
        svg(x="0px" y="0px" viewBox="0 0 743 187")
          path(d="M-506.1,19.8c0,0,78.6-25.9,256-1c177.3,24.9,253.9,3.6,322.1-2  c68.1-5.6,161.2-3,257,17c95.8,20,210.8,30.3,323.1-13c112.3-43.3,178.8-8.8,253.8,11c75,19.8,82.9,19.6,98.1,18  c15.2-1.6,87.5,156.1,87.5,156.1s-1695.1-11.3-1682.9-21C-579.2,175.3-506.1,19.8-506.1,19.8z")
        .modal-wave-result - 4,5 килограмм
// ==================================================
// ==================================================
.modal.fade(id="klimovaResults" tabindex="-1" role="dialog" aria-labelledby="klimovaResultsLabel" aria-hidden="true")
  .modal-dialog.custom-width.modal-dialog-centered(role="document")
    .modal-content
      .mod-head
        .close-but(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h3.text-center Елена Климова
        .block-head-divider
      .mod-body
        .modal-slider
          div(id="carouselKlimova" class="carousel slide" data-ride="carousel" data-interval="false")
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src=require("../img/results/klimova1.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/klimova2.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("../img/results/klimova3.jpg") alt="")
          a.carousel-control-prev(href="#carouselKlimova" role="button" data-slide="prev")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z")
            span.sr-only Previous
          a.carousel-control-next(href="#carouselKlimova" role="button" data-slide="next")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z")
            span.sr-only Next
      .modal-wave
        svg(x="0px" y="0px" viewBox="0 0 743 187")
          path(d="M-506.1,19.8c0,0,78.6-25.9,256-1c177.3,24.9,253.9,3.6,322.1-2  c68.1-5.6,161.2-3,257,17c95.8,20,210.8,30.3,323.1-13c112.3-43.3,178.8-8.8,253.8,11c75,19.8,82.9,19.6,98.1,18  c15.2-1.6,87.5,156.1,87.5,156.1s-1695.1-11.3-1682.9-21C-579.2,175.3-506.1,19.8-506.1,19.8z")
        .modal-wave-result - 3,9 килограмм
// ==================================================
// ==================================================
.modal.fade(id="videoPresentation" tabindex="-1" role="dialog" aria-labelledby="videoPresentationLabel" aria-hidden="true")
  .modal-dialog.custom-width.modal-dialog-centered(role="document")
    .modal-content
      .mod-body
        .video-wrap
          //.close-but(data-dismiss="modal" aria-label="Close")
          .close-but.videoModalClose(data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
          iframe.presentation.youtube_player_iframe(
            src="https://www.youtube.com/embed/ouOa16XjboU?enablejsapi=1&rel=0&amp;showinfo=0"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen
            )
// ==================================================
// ==================================================
.modal.fade(id="priceModal" tabindex="-1" role="dialog" aria-labelledby="priceModalLabel" aria-hidden="true")
  .modal-dialog.custom-width.modal-dialog-centered(role="document")
    .modal-content
      .mod-head
        .close-but(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h3.text-center#priceModalLabel Введите личные данные
        .block-head-divider
      .modal-body.pay-modal
        // ++++++++++++++++++++++++++
        form#selectPriceForm
          .form-group
            p.popupdesc * ВНИМАНИЕ! Поля имя, фамилия и адрес эл. почты заполняются без пробелов!
          .row
            .col-sm-6
              .form-group
                label(for='pieFirstName') Имя участницы
                input#pieFirstName.form-control(name='firstname', type='text', placeholder='Введите имя')
            .col-sm-6
              .form-group
                label(for='pieLastName') Фамилия участницы
                input#pieLastName.form-control(name='lastname', type='text', placeholder='Введите фамилию')
          .form-group
            label.grey
              | Контактные данные, необходимые для направления дальнейших инструкций по участию в
              | конкурсе (будут направлены до официального старта сезона):
          .row
            .col-sm-6
              .form-group
                label(for='piePhone') Телефон
                input#piePhone.form-control(name='phone', type='text', placeholder='Введите номер телефона')
            .col-sm-6
              .form-group
                label(for='pieEmail') Email
                input#pieEmail.form-control(name='email', type='text', placeholder='Введите адрес электронной почты')
          .form-group
            // --- NEW
            label(for='piePromo') Код представителя (при наличии)
            input#piePromo.form-control(name='promo', type='text', placeholder='Введите код')
          .form-group
            .checkbox
              label
                input#pieOffer.cbinp(type='checkbox')
                |  Я принимаю условия
                a.cblabel(href=require("../docs/offer.pdf") target="_blank") оферты
                | .
          .form-group
            label.grey
              | Информация по участию в конкурсе будет направлена на адрес электронной почты,
              | указанный участницей в настоящей заявке, в течение 48 часов после оплаты.
              | Вопросы о статусе заявки и все вопросы по оплате и участию просим направлять на
              | электронную почту
              a.cblabel(href='mailto:prokachshow@gmail.com') prokachshow@gmail.com
              | .
              | Ответим на все возникшие вопросы в течение 24 часов.
          .form-group
            label.grey
              | Если у Вас не получается оплатить, пишите
              a.cblabel(href="https://api.whatsapp.com/send?phone=79219886865" target="_blank") сюда
      .modal-footer
        span.modal-button.cancel(data-dismiss='modal') Отмена
        span#submitPriceForm.modal-button.confirm.mlm.disabled Оплатить
// ==================================================
// ==================================================
.modal.fade(id="letterModal" tabindex="-1" role="dialog" aria-labelledby="letterModalLabel" aria-hidden="true")
  .modal-dialog.letter-width.modal-dialog-centered(role="document")
    .modal-content
      .mod-head
        .close-but(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        div.ltr-present
        h3.text-center Письмо девочке, которая<br/> решила меняться
        .block-head-divider
      .mod-body
        include letter
      .modal-wave
        svg(x="0px" y="0px" viewBox="0 0 743 187")
          path(d="M-506.1,19.8c0,0,78.6-25.9,256-1c177.3,24.9,253.9,3.6,322.1-2  c68.1-5.6,161.2-3,257,17c95.8,20,210.8,30.3,323.1-13c112.3-43.3,178.8-8.8,253.8,11c75,19.8,82.9,19.6,98.1,18  c15.2-1.6,87.5,156.1,87.5,156.1s-1695.1-11.3-1682.9-21C-579.2,175.3-506.1,19.8-506.1,19.8z")
// ==================================================
.modal.fade(id="payMethodsModal" tabindex="-1" role="dialog" aria-labelledby="payMethodsModalLabel" aria-hidden="true")
  .modal-dialog.letter-width.modal-dialog-centered(role="document")
    .modal-content
      .mod-head
        .close-but(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h3.text-center Способы оплаты
        .block-head-divider
      .mod-body.pay-methods-modal
        p Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платежный шлюз ПАО СБЕРБАНК. Соединение&nbsp;с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола&nbsp;шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified&nbsp;By Visa или MasterCard SecureCode для проведения платежа также может потребоваться ввод специального пароля.&nbsp;Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации&nbsp;обеспечивается ПАО СБЕРБАНК. Введенная информация не будет предоставлена третьим лицам за исключением случаев,&nbsp;предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом&nbsp;соответствии с требованиями платежных систем МИР, Visa Int. и MasterCard Europe Sprl.
        p В настоящее время доступен только способ оплаты банковской картой.&nbsp;Оплата происходит через ПАО СБЕРБАНК с использованием Банковских карт следующих платежных систем:
        .pay-logo-block
          img(src=require("../img/logopay-visa.png") alt="")
          img(src=require("../img/logopay-master.png") alt="")
          img(src=require("../img/logopay-mir.png") alt="")
      .modal-wave
        svg(x="0px" y="0px" viewBox="0 0 743 187")
          path(d="M-506.1,19.8c0,0,78.6-25.9,256-1c177.3,24.9,253.9,3.6,322.1-2  c68.1-5.6,161.2-3,257,17c95.8,20,210.8,30.3,323.1-13c112.3-43.3,178.8-8.8,253.8,11c75,19.8,82.9,19.6,98.1,18  c15.2-1.6,87.5,156.1,87.5,156.1s-1695.1-11.3-1682.9-21C-579.2,175.3-506.1,19.8-506.1,19.8z")
